
.DS_Store

*.pbxproj

*.lock

*.pbxproj

*.xcconfig
Pods/

*.pbxproj

*.xcuserstate

*.xcuserstate

Let'sPlayAGame.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcworkspacedata

Let'sPlayAGame.xcodeproj/project.pbxproj

Let'sPlayAGame.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate

Let'sPlayAGame.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist
